:root{
    --white: #F9FAF8;
    --dark-blue: #1F2937;
    --blue: #3882f6;
    --grey: #e5e7eb;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    color: var(--grey);
    display: block;
}
img{
    height: auto;
    width: 250px;
}
body{
    background-color: var(--white);

}
header{
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    padding: 3em;
}
.top{
    display: flex;
    padding: 0em;
    justify-content: space-evenly;
    width: 100%;
    font-size: 18px;
    align-items: center;
}
.top p{
    font-size: 24px;
    font-weight: bolder;
}
.links{
    display: flex;
    gap: 1em;
}
.main{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2em;
}
.main img{
    width: 400px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content h2{
    font-size: 48px;
}
.content button{
    width: 20%;
    background-color: var(--blue);
    border: none;
    border-radius: 0.4em;
    padding: 0.4em 0.7em;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}
article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
}
article > p{
    color: var(--dark-blue);
    font-size: 36px;
    font-weight: bold;
    
}
.boxes{
    display: flex;
    margin-top: 3.5em;
    justify-content: space-evenly;
    width: 100%;
}
.tile{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.tile img{
    border-radius: 2em;
    border: 2px solid var(--blue);
    width: 180px;
}
.tile p{
    width: 160px;
    color: var(--dark-blue);
}
section{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    padding: 5em 15%;
}
section p{
    font-size: 36px;
    color: var(--dark-blue);
    font-style: italic;
    font-weight: lighter;
}
section span{
    font-weight: bolder;
    text-align: right;
}
.baner{
    background-color: #3882f6;
    display: flex;
    margin: 5em 25%;
    padding: 2em;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5em;
}
.text{
    color: var(--white);
}
.text  p:nth-child(1){
    font-weight: bolder;
    font-size: 19px;
    margin-bottom: 0.4em;
}
.baner button{
    height: auto;
    width: 6em;
    padding: 0.4em 1em;
    background-color: var(--blue);
    border: 2px solid var(--white);
    color: var(--white);
    border-radius: 0.4em;
    font-weight: bold;
    cursor: pointer;
}
footer{
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 1em;
    text-align: center;
}